# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/BodyHand
/packages/vcpkg.D.dev.vcpkg.1.0.0
/x64/Debug
*.nupkg
/Calibration/x64/Debug
/Calibration/x64/Release
/SynchronizeCapture/x64
/x64/Release
/BodyHand/models
/BodyHand/x64/Debug
/TestBodyEstimation/x64/Debug
/BodyHand/x64/Release
/TestBodyEstimation/x64/Release
/TestHandEstimation/x64/Debug
/MediaPipeHandDetector/x64
/pyvenv/__pycache__
/TestHandEstimation/x64/Release
/TestMultiview/x64
/MultiviewPoseEstimation/x64
